.page-section {
    padding: 1.0rem 0rem;
    @mixin atMedium {
        padding: 4.5rem 0rem;
    }

    &--no-b-padding-until-medium {
        padding-bottom: 0px;

        @mixin atMedium {
            padding-bottom: 4.5rem;
        }
     }

    &--blue {
        background-color: $mainBlue;
        color: #FFF;
    }

    &--testimonials {

        background-color: #e0e6ef;

        @mixin atMedium {
            background: url('/assets/images/testimonials-bg.jpg') top center no-repeat ;
            background-size: cover;
        }
     }

}